@font-face {
	font-family: "Jura-Regular";
	src: url("./Jura-Regular.ttf") format('truetype');
}

@font-face {
	font-family: "Jura-Bold";
	src: url("./Jura-Bold.ttf") format('truetype');
}

@font-face {
	font-family: "Jura-Light";
	src: url("./Jura-Regular.ttf") format('truetype');
}

@font-face {
	font-family: "Jura-Medium";
	src: url("./Jura-Medium.ttf") format('truetype');
}

@font-face {
	font-family: "Jura-SemiBold";
	src: url("./Jura-SemiBold.ttf") format('truetype');
}